html {
    height: 100%;
}

body {
    font-family: Helvetica, sans;
    height: 100%;
}

a {
    color: #34495e;
    text-decoration: none;

    &:hover { text-decoration: underline; }
}

#menu {
    position: fixed;
    background: #bdc3c7;
    height: 100%;
    width: 120px;
    padding: 10px;
}

#content {
    margin-left: 140px;
    min-height: 100%;
    padding: 10px;
}

.tile-grid {
    list-style-type: none;

    li {
        background: #e0e0e0;
        width: 290px;
        margin: 10px;

        a {
            display: block;
            padding: 30px;
        }
    }
}
