@import 'fonts.css.less';
@import 'mixins.css.less';

@menu-width: 178px;
@business: #4FC1E9;
@careers: #5D9CEC;
@culture: #EA794D;
@design: #48CFAD;
@people: #333;
@technology: #EC87C0;

body {
    font:12px TradeGothic, Helvetica, sans-serif;
    background: #f9f9f9 url(../images/loading.gif) no-repeat center center fixed;
    background-size: 122px;
    -webkit-font-smoothing: antialiased;
    #menu, #content, #logo, #menu-button, #close-button {
        opacity:0.01;
        .transition(opacity 0.625s ease-in-out 0.1s);
    }
    #menu {
        opacity:0.01;
        .transition-delay(0.2s);
        .transition-duration(0.525s);
        ul {
            .translate3d();
            .transition-transform(0.275s ease);
        }
    }
    #logo {
        .transition-delay(0);
    }
    &[data-mode=article] {
        #content {
            .transition(none);
        }
        #logo, #menu-button, #close-button {
            opacity:1;
            .transition-duration(0.4s);
            .transition-delay(0);
        }
        #menu-button, #close-button {
            .transition-duration(0.3s);
            .transition-delay(0.125s);
        }
    }
    &.loaded {
        position:static;
        background: #eee url(../images/bg.png);
        background-size: 200px 200px;
        #menu, #content, #logo, #menu-button, #close-button {
            opacity:1;
        }
    }
}

a {
    color: #333;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

#content {
    .translateZ();
    height: 20000px; // helps preserve initial scroll position
    padding: 10px;
}

#data {
    display: none;
}

.tile-grid {
    z-index: 2;
    list-style-type: none;
    margin: 0 0 0 @menu-width;
    .translateZ();
}

.tile-grid.scrolling {
    * {
        pointer-events:none !important;
        text-shadow:none !important;
        box-shadow:none !important;
    }

    a:hover {
        text-decoration: inherit !important;
    }

    .tile .tag a:hover:before {
         background-position: 0px 20px;
    }
}

.article {
    position: relative;
    z-index: 1;
    margin: -10px;
    .transition-transform(0.275s);

    &.menu-open {
        -webkit-transform: translate3d(178px, 0, 0) !important;
        -moz-transform: translate3d(178px, 0, 0) !important;
        -ms-transform: translate3d(178px, 0, 0) !important;
        transform: translate3d(178px, 0, 0) !important;
    }
}

.loading-overlay {
    opacity:0;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
    .translate3d(-9999px, 0, 0);
    .transition(opacity 0.3s);
    &[data-active] {
        position: fixed;
        .translate3d(0, 0, 0);
        background: #f9f9f9 url(../images/loading.gif) 50% 50% no-repeat;
        background-size: 122px;
        opacity: 1;
    }
}

#logo {
    position: fixed;
    display: block;
    z-index: 4;
    top: 20px;
    left: 39px;
    font-size: 0;
    width: 100px;
    height: 100px;
    background: url(../images/logo_sprite.png);
    background-size: 100%;
    .translateZ();

    &:hover {
        background: url(../images/logo_sprite.png) 0px 100px;
        background-size: 100%;
    }
}

#menu {
    position:fixed;
    height:100%;
    width: @menu-width;
    z-index: 2;
    font-family:TradeGothic;
    .translate3d(0, 0, 0);

    ul {
        position: absolute;
        top: 165px;
        list-style-type: none;
        text-align: center;
        font-size: 15px;
        opacity: 1;
    }

    li {
        position: relative;
        display: inline-block;
        margin: 0 27px;
    }

    a {
        display: block;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: lowercase;
        text-decoration: none;
        font-family: "PlantinBold";
        font-weight: bold;
        letter-spacing: -0.05em;
        color: #333;

        &:before {
            display: block;
            position: relative;
            left: 0;
            content: '';
            height: 61px;
            width: 50px;
            margin: 0 0 1px;
            opacity: 0.99;
            border-bottom: 1px solid #aaa;
            background-position: 0px 30px;
            background-repeat: no-repeat;
            background-size: 50px;
        }
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            opacity: 0.001;
            content: '';
            height: 61px;
            width: 50px;
            background-position: 0px -62px;
            background-repeat: no-repeat;
            background-size: 50px;
            .transition(background 0.05s ease-out);
        }
        &.business {
            &:before, &:after {
                background-image: url(../images/business.png);
            }
            &:before, &:after {
                left: 2px;
            }
            &:hover {
                color: @business;
            }
            &:hover:after {
                border-bottom: 1px solid @business;
            }
        }
        &.careers {
            &:before, &:after {
                background-image: url(../images/careers.png);
            }
            &:hover {
                color: @careers;
            }
            &:hover:after {
                border-bottom: 1px solid @careers;
            }
        }
        &.culture {
            &:before, &:after {
                background-image: url(../images/culture.png);
            }
            &:hover {
                color: @culture;
            }
            &:hover:after {
                border-bottom: 1px solid @culture;
            }
        }
        &.design {
            &:before, &:after {
                background-image: url(../images/design.png);
            }
            &:hover {
                color: @design;
            }
            &:hover:after {
                border-bottom: 1px solid @design;
            }
        }
        &.people {
            &:before, &:after {
                background-image: url(../images/people.png);
            }
            &:hover {
                color: @people;
            }
            &:hover:after {
                border-bottom: 1px solid @people;
            }
        }
        &.technology {
            &:before, &:after {
                background-image: url(../images/technology.png);
            }
            &:before, &:after {
                left:10px;
            }
            &:hover {
                color: @technology;
            }
            &:hover:after {
                border-bottom: 1px solid @technology;
            }
        }
        &:hover:after {
            background-position: 0px -77px;
            opacity: 0.99;
        }
        &:hover:before {
            opacity: 0.01;
        }
        &.contact {
            text-indent: -9999px;
            overflow: hidden;

            width: 40px;
            height: 30px;
            background: url(../images/contact.png) 50% 50% no-repeat;
            background-size: 20px;

            &:before {
                display: none;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

body.loaded #menu {
    .transition-transform(0.3s 0, opacity 0.525s 0.2s);
}
body.loaded[data-mode=article] #menu.loaded {
    .transition-duration(0.275s);
    .box-shadow(0 2px 1px rgba(0, 0, 0, 0.4));
}

#menu[data-tag='business'] a.business {
    color: @business;
    &:before {
        opacity: 0.01;
    }
    &:after {
        border-bottom: 1px solid @business;
        opacity: 0.99;
    }
}
#menu[data-tag='careers'] a.careers {
    color: @careers;
    &:before {
        opacity: 0.01;
    }
    &:after {
        border-bottom: 1px solid @careers;
        opacity: 0.99;
    }
}
#menu[data-tag='culture'] a.culture {
    color: @culture;
    &:before {
        opacity: 0.01;
    }
    &:after {
        border-bottom: 1px solid @culture;
        opacity: 0.99;
    }
}
#menu[data-tag='design'] a.design {
    color: @design;
    &:before {
        opacity: 0.01;
    }
    &:after {
        border-bottom: 1px solid @design;
        opacity: 0.99;
    }
}
#menu[data-tag='people'] a.people {
    color: @people;
    &:before {
        opacity: 0.01;
    }
    &:after {
        border-bottom: 1px solid @people;
        opacity: 0.99;
    }
}
#menu[data-tag='technology'] a.technology {
    color: @technology;
    &:before {
        opacity: 0.01;
    }
    &:after {
        border-bottom: 1px solid @technology;
        opacity: 0.99;
    }
}

#close-button {
    position: fixed;
    display: block;
    top: 20px;
    right: 65px;
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: white; 
    cursor: pointer;
    pointer-events:none;
    text-indent: -9999px;
    .translate3d(0, -66px, 0);

    &:before, &:after {
        border-radius:2px;
        position: absolute;
        top:18px;
        left: 4px;
        width: 33px;
        height: 5px;
        background: #444;
        content: '';
    }

    &:before {
        .rotate(-45deg);
    }

    &:after {
        .rotate(45deg);
    }
}

#menu-button {
    position: fixed;
    display: block;
    top: 130px;
    left: 65px;
    z-index: 3;
    width: 45px;
    height: 39px;
    border-radius: 4px;
    background-color: white; 
    cursor: pointer;
    pointer-events:none;
    .translate3d(0, -66px, 0);

    span {
        position: absolute;
        top: 17px;
        left: 6px;
        display: block;
        width: 33px;
        height: 5px;
        background-color: #444;
        font-size: 0px;
        .user-select();
        .transition(background-color 0.25s);
        .translateZ();
        border-radius:2px;

        &:before {
            .translate3d(0, -200%, 0);
        }

        &:after {
            .translate3d(0, 200%, 0);
        }

        &:before, &:after {
            border-radius:2px;
            position: absolute;
            left: 0;
            width: 33px;
            height: 100%;
            background: #444;
            content: '';
            .transition-transform(0.25s);
        }
    }
}

body.loaded #menu-button {
    .transition-transform(0.275s ease, opacity 0 1s);
}

#menu-button.menu-open {
    background-color: transparent;
    span {
        background-color: transparent;
        &:before {
            .rotate(-45deg);
        }
        &:after {
            .rotate(45deg);
        }
    }
}

body[data-mode='article'] {
    #menu-button {
        pointer-events: auto;
        .translate3d(0, 0, 0);
    }
    #close-button {
        pointer-events: auto;
        .translate3d(0, 0, 0);
    }

    #menu {
        .translate3d(-178px, 0, 0);
        background: #eee url(../images/bg.png);
        background-size: 200px 200px;
        li {
            .user-select();
        }
        &.loaded li {
            .translate3d(-120px, 0, 0);
            opacity:0.001;
        }
    }

    &.loaded #menu {
        .transition-transform(0.6s);
    }

    #menu.shown {
        .translate3d(0, 0, 0);
        background: #eee url(../images/bg.png);
        background-size: 200px 200px;

        &.loaded ul {
            .translate3d(0, 40px, 0);
            .transition(none);
        }

        li {
            opacity: 1;
            .translate3d(0, 0, 0);
            .transition-transform(0.255s, opacity 0.4s);
            &:first-child {
                .transition-delay(0.025s);
            }
            &:nth-child(2) {
                .transition-delay(0.065s);
            }
            &:nth-child(3) {
                .transition-delay(0.105s);
            }
            &:nth-child(4) {
                .transition-delay(0.145s);
            }
            &:nth-child(5) {
                .transition-delay(0.185s);
            }
            &:nth-child(6) {
                .transition-delay(0.225s);
            }
            &:nth-child(n+7) {
                .transition-delay(0.275s);
            }
        }
    }
}

@import 'tile.css.less';
@import 'post.css.less';
@import 'employee.css.less';
