@content-left-padding: 250px;

.post {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 100%;

	.banner {
		position: relative;

		.background-strip {
			display: block;
			background: #5d9cec none 50% 50% no-repeat; // set up for per-article banner background
			background-size: cover;

			height: 370px;
		}

		h1 {
			font-family: Plantin;
			font-weight: bold;
			font-size: 7em;
			letter-spacing: -3.7px;
			width: 1100px;
			line-height: 0.8;

			margin: -118px auto 0px;

			span {
				display: inline-block;
				margin-left: 76px;
				padding-left: 34px;
				padding-right: 42px;
				padding-top: 9px;
				padding-bottom: 5px;
				color: white;
				background-color: black;
			}

			span:first-of-type {
				padding-top:25px;
			}
		}
	}

	.content {
		position: relative;
		margin: 0 auto;
		width: 960px-@content-left-padding;
		padding-top: 33px;
		padding-left: @content-left-padding;

		blockquote {
			// position: relative;
			clear: both;
			width: 1000px;
			font-family: Plantin;
			font-weight: bold;
			font-style: italic;
			font-size: 2.25em;
			margin-left: 0;
			text-indent: 20px;
		}

		blockquote:before {
			content: '\201C';
			font-size: 1.5em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.2em;
		}

		blockquote:after {
			content: '\201D';
			font-size: 1.5em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.2em;
		}

		.img_block {
			position: relative;
			width: 1000px;
			height: 576px;

			img {
				width: 480px;
				height: 288px;
				display: inline-block;
				margin: 0;
			}
		}

		img {
			margin: 0 56px 56px 0;
			display: block;
			float: left !important;
			width: 480px;
			height: 288px;
		}

		.author {
			margin-bottom: 44px;
			overflow-y: hidden;
			padding-left: 2px;
			line-height: 50px;
			margin-left: -@content-left-padding;

			.avatar {
				width:44px;
				height:44px;
				border-radius: 22px;
				margin: 0;
			}

			.author-name, .date {
				font-family: TradeGothic;
				font-size: 1.2em;
				margin-left: 15px;
				letter-spacing: 0.3px;
			}

			.author-name:after {
				content: "\25CF";
				padding-left: 12px;
				padding-bottom: 2px;
				font-size: 0.7em;
			}
		}

		.summary {
			font-family: Plantin;
			font-weight: normal;
			font-size: 2.875em;
			margin-bottom: 42px;
			width: 660px;
			line-height: 1.1;
			letter-spacing: -0.8;
			margin-left: -@content-left-padding;
		}

		h2 {
			font-family: Plantin;
			font-weight: bold;
			font-style: italic;
			font-size: 2.25em;
			margin-bottom: 18px;
			letter-spacing: -1.8px;
		}

		p {
			font-family: Plantin;
			font-size: 1.8em;
			line-height: 1.5;
			margin: 0px 0 33px;
		}

		p:first-of-type:first-letter {
			font-size: 2.5em;
			line-height: 1em;
		}

		li {
			font-family: Plantin;
			font-size: 1.5em;
			line-height: 1.4;
			margin: 30px 0 0 30px;
		}

		ol, ul {
			margin-bottom: 50px;
		}

		.meteor {
			float: none;
			display: block;
			width:246px;
			height:115px;
			margin: 75px 0;
		}

		footer {
			margin-top:45px;
			h3 {
				display: inline;
				font-size: 1em;
				font-family: TradeGothic;
				font-style: normal;
				letter-spacing: normal;
			}
			ul {
				padding-left: 20px;
				display: inline;
				li {
					font-family: TradeGothic;
					font-size: 15px;
					color:#c5c5c5;
					margin-left:20px;
					display: inline;
				}
			}
		}
	}
}